
app/** linguist-vendored
components/** linguist-vendored
convex/** linguist-vendored
hooks/** linguist-vendored
lib/** linguist-vendored
public/** linguist-vendored
*.ts linguist-vendored
*.tsx linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.json linguist-vendored
*.cpp linguist-detectable
*.h linguist-detectable

